#odinheader {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: chocolate;
    font-size:xx-large;
    font-weight: bold;

}

.allmenu {
    font-size:large;
    font-family:'Times New Roman', Times, serif;
    
}